### Praca domowa nr 10

Zadania początkowe (po 0%): 

1. Utwórz odpowiednią scieżkę i wczytaj plik `./dummy_data/data_continued/data.xls`

2. Utwórz odpowiednią scieżkę i wczytaj plik `./dummy_data/data_continued/data_more_observations.xls`


Zadania domowe (po 20%):

3.Połącz dwie paczki danych w jeden dataframe (zadbaj o reset indexu)

4.Sprawdź czy są i ile jest duplikatów z uwagi na pole id (powtarzające się wpisy o tych samych użytkownikach)

5.Usuń duplikaty zostawiając późniejsze wpisy (!) (nowe obserwacje są aktualniejsze)

6.Utwórz odpowiednią scieżkę i wczytaj plik ./dummy_data/data_continued/data_more_features.xls

7.Dodaj nowe kolumny do wcześniejszego dataframe'a względem kolumny id. Upewnij się, że zostały te id dla których mamy wszystkie cechy (żadnych NaNów)

8.Policz ile razy występują poszczególne wartości param_2

In [9]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
file_name="data.xls"
file_path = os.path.join(os.path.abspath(""),  file_name)
file_name1="data_more_observations.xls"
file_path1 = os.path.join(os.path.abspath(""), file_name1)

In [ ]:
file_name="data.xls"
file_path = os.path.join(os.path.abspath(""), "dummy_data/data_continued", file_name)
file_name1="data_more_observations.xls"
file_path1 = os.path.join(os.path.abspath(""), "dummy_data/data_continued", file_name1)

In [17]:
data=pd.read_excel(file_path)
data_c=pd.read_excel(file_path1)
df=pd.concat([data,data_c]).reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2000 non-null   int64
 1   param_1  2000 non-null   float64
 2   param_2  2000 non-null   int64
 3   param_3  2000 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 62.6 KB

In [25]:
print("liczba duplikatów:",2000-df.id.nunique())
df=df.drop_duplicates(subset=['id'], keep='last').reset_index(drop=True)
print("liczba unikalnych wierszy:",df.id.nunique())

liczba duplikatów: 24
liczba unikalnych wierszy: 1976

In [28]:
file_name2="data_more_features.xls"
file_path2 = os.path.join(os.path.abspath(""),  file_name2)
data_more=pd.read_excel(file_path2)
df.head()

    id   param_1  param_2  param_3
0  191  0.025364       60       54
1  192  0.919820       37       34
2  193  0.936136       12       18
3  194  0.588972       91       23
4  195  0.742186       31       58

In [29]:
df_full=pd.merge(df,data_more, on="id", how="inner")
df_full.head()

    id   param_1  param_2  param_3    param_4   param_5
0  193  0.936136       12       18  11.233635  0.276612
1  194  0.588972       91       23  53.596458  0.805812
2  195  0.742186       31       58  23.007770  0.121802
3  196  0.505780       84       51  42.485540  0.396856
4  197  0.135994        5       66   0.679971  0.158063

In [30]:
df_full.isnull().sum().sum()

0

In [33]:
df_full[['param_2','id']].groupby(['param_2']).count().T

param_2,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
id,14,32,16,19,24,27,20,19,17,19,...,28,14,18,18,16,9,22,23,15,23